@font-face {
	font-family: "PoppinsRegular";
	src: local("PoppinsRegular"), url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "PoppinsBold";
	src: local("PoppinsBold"), url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "PoppinsSemiBold";
	src: local("PoppinsSemiBold"), url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "PoppinsMedium";
	src: local("PoppinsMedium"), url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
	font-weight: medium;
}

:root {
	--primaryColor: #7357fa;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: PoppinsRegular;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	width: 100%;
	overflow-x: hidden;
	background: #19202b;
}

@media (max-width: 600px) {
	body {
		padding: 8px;
	}
	*::-webkit-scrollbar {
		display: none;
	}
}

*::-webkit-scrollbar {
	background: rgba(38, 47, 61, 0.44);
}
*::-webkit-scrollbar-thumb {
	background-color: #262f3d;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #465162;
}

h1 {
	line-height: 1.1;
}

button {
	font-family: PoppinsMedium;
}
