server/node_modules
client/node_modules
server/dist
client/dist
**/node_modules
**/dist

# docker build -t @satishnaikawadi2001/online-compiler-server.
# docker run -p 4000:4000 satishnaikawadi2001/online-compiler-server