server/node_modules
client/node_modules
server/dist
client/dist
**/node_modules
**/dist

# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?



# docker build --tag="satishnaikawadi2001/online-compiler-server" .
# docker run -p 4000:4000 satishnaikawadi2001/online-compiler-server
# docker exec -it d638246c4305 ls

# apiDocs ------> for API docs
# jsDocs -------> for others


# JAVA CODE
# import java.util.Scanner;
# /* This is a simple Java program. 
# FileName : "HelloWorld.java". */
# public class HelloWorld {
#   //Your program begins by calling the main(). 
#   //Prints "Hello, World" to the terminal window. 
#    public static void main(String[] args) {
#     Scanner myObj = new Scanner(System.in);  // Create a Scanner object
#     System.out.println("Enter username");

#     String userName = myObj.nextLine();  // Read user input
#     System.out.println("Username is: " + userName);  // Output user input
#   }
# }